<div class="h-screen flex flex-col pb-6">
  <div class="h-full flex flex-col justify-center">
    <div
      class="flex flex-col justify-center items-center -mt-20 max-w-4xl w-full text-center mx-auto px-4 sm:px-6 lg:px-8"
    >
      <h1
        class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white m-0 max-w-fit overflow-hidden whitespace-nowrap animation"
      >
        Welcome to JhairGPT
      </h1>
      <p class="mt-3 text-gray-600 dark:text-gray-400">Your copilot for all</p>
    </div>

    <!-- Search -->
    <div class="mt-10 max-w-2xl w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative">
        <textarea
          autofocus
          autosize
          [minRows]="1"
          [maxRows]="10"
          [(ngModel)]="textInput"
          [disabled]="isAvailable"
          (keydown.enter)="onSubmit($event)"
          (keydown.shift.enter)="newLine()"
          (resized)="onResized($event)"
          type="text"
          [class]="
            'block w-full p-4 pr-24 text-sm border resize-none text-gray-900 bg-gray-50 border-gray-300 outline-none textarea-transiton focus:ring-2 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-90 disabled:pointer-events-none dark:text-white dark:bg-slate-900 dark:border-gray-700 dark:placeholder-gray-400 ' +
            (avalabelSend() && !isTouchScren() ? 'pr-36' : '')
          "
          [style]="
            removeRounder ? 'border-radius: 0.5rem' : 'border-radius: 5rem'
          "
          placeholder="Ask me anything..."
        ></textarea>
        <div class="absolute top-1/2 end-2 -translate-y-1/2">
          <button
            type="button"
            title="upload file or file to chat"
            disabled
            class="w-10 h-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          >
            <ng-icon name="ionCloudUploadOutline" size="18" />
          </button>
          <button
            type="button"
            title="Voice search"
            disabled
            [class]="
              avalabelSend() && isTouchScren()
                ? 'hidden'
                : 'w-10 h-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:text-gray-800 bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
            "
          >
            <ng-icon name="ionMicOutline" size="18" />
          </button>
          <button
            type="button"
            title="Send message"
            [disabled]="isAvailable"
            [class]="
              avalabelSend()
                ? 'w-10 h-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:text-gray-800 bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
                : 'hidden'
            "
            (click)="onSubmit($event)"
          >
            <ng-icon name="ionArrowUp" size="18" />
          </button>
        </div>
      </div>
    </div>
    <!-- End Search -->
  </div>

  <footer class="mt-auto max-w-4xl text-center mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-xs text-gray-600 dark:text-gray-500">
      © {{ year }} Jhair Paris. A product of
      <a
        rel="noopener"
        class="text-slate-900 decoration-2 hover:underline font-semibold dark:text-gray-300"
        href="http://jhairparis.com/projects/gpt"
        target="_blank"
        >Illustriousloop</a
      >.
    </p>
  </footer>
</div>
