<ul class="mt-5 text-white">
  @if (oldChat$ | async; as res) { @for (bubble of res.result.history; track
  bubble; let last = $last) {
  <app-bubble
    [message]="bubble.txt"
    [author]="bubble.role === 'user' ? 'humman' : 'model'"
    [timestamp]="time"
    [showQuestion]="last && newMessages.length === 0"
    (questionClick)="receiveQuestion($event)"
  />
  } }@else {
  <app-skeleton [author]="'humman'" />
  <app-skeleton [author]="'model'" />
  }
  <!-- new Message -->
  @for (item of newMessages; track item; let last = $last) {
  <app-bubble
    [message]="item.user"
    [author]="'humman'"
    [timestamp]="time"
    (questionClick)="receiveQuestion($event)"
  />
  <app-bubble
    [message]="item.model"
    [author]="'model'"
    [timestamp]="time"
    [showQuestion]="last"
    (questionClick)="receiveQuestion($event)"
  />
  }
</ul>
