<ul class="mt-16 space-y-5 text-white">
  @if (oldChat$ | async; as history) { @for (item of history.result.history;
  track item) {
  <app-bubble [message]="item.user" [author]="'humman'" [timestamp]="time" />
  @for (item2 of item.ai; track $index) {
  <app-bubble [message]="item2.text" [author]="'model'" [timestamp]="time" />
  } } }@else {
  <div class="w-full h-full bg-blue-300">
    <h2 class="text-red-700">Empty!</h2>
  </div>
  }
  <!-- new Message -->
  @for (item of newMessages; track item) {
  <app-bubble [message]="item.user" [author]="'humman'" [timestamp]="time" />
  @for (item2 of item.ai; track $index) {
  <app-bubble [message]="item2.text" [author]="'model'" [timestamp]="time" />
  } }
</ul>

<!-- {{ dataHistory.result.history | json }} -->
