div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d263b;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;

  a {
    color: white;
    font-family: "soehneMonoH";
    text-decoration: none;
    &:active {
      color: white;
    }
  }
}

img {
  width: 30vw;
  height: 30vw;
}
