@font-face {
  font-family: "soehneH";
  src: url("assets/fonts/soehne/Sohne-Halbfett.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soehne";
  src: url("assets/fonts/soehne/Sohne-Buch.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soehneMonoH";
  src: url("assets/fonts/soehne mono/SohneMono-Halbfett.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soehneMono";
  src: url("assets/fonts/soehne mono/SohneMono-Buch.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

body {
  font-family: "soehne", AppleGothic, "helvetica neue", Arial, sans-serif;
}

button {
  cursor: pointer;
}
